.root {
    -fx-snap-to-pixel: true;
}

#messageTextArea {
    -fx-font-family: 'Cascadia Code',monospace;
    -fx-font-size: 12pt;
    -fx-background-color: #fff;
    -fx-opacity: 0.5;
}

#codeEditor {
    -fx-font-family: 'Cascadia Code',monospace;
    -fx-font-size: 13pt;
}

#logTextArea {
    -fx-font-family: 'Cascadia Code',monospace;
    -fx-font-size: 12pt;
}
