.root {
    -fx-base: #111;
    -fx-snap-to-pixel: true;
}

#messageTextArea {
    -fx-font-family: 'Cascadia Code',monospace;
    -fx-font-size: 12pt;
    -fx-background-color: #fff;
    -fx-opacity: 0.5;
    -fx-text-fill: #000;
}

#editor {
    -fx-font-family: 'Cascadia Code',monospace;
    -fx-font-size: 12pt;
    -fx-background-color: #111;
}

#logTextArea {
    -fx-font-family: 'Cascadia Code',monospace;
    -fx-font-size: 12pt;
}

.imageScrollPane > .viewport {
    -fx-background-image: url("checker_dark.png");
    -fx-background-repeat: repeat;
}
