
.tree-cell .signature {
    -fx-font-family: "Fira Code",monospace;
    -fx-font-size: 11pt;
}

.tree-cell .docComment {
    -fx-font-style: italic;
    -fx-font-family: "Fira Code",monospace;
    -fx-opacity: 0.6;
}

.tree-cell .globalIcon {
    -fx-font-weight: bold;
    -fx-text-fill: #ccc;
    -fx-font-family: monospace;
    -fx-font-size: 11pt;
    -fx-text-alignment: center;
}

.tree-cell .functionIcon {
    -fx-font-weight: bold;
    -fx-text-fill: purple;
    -fx-font-family: monospace;
    -fx-font-size: 11pt;
    -fx-text-alignment: center;
}

.tree-cell .highlighted {
    -fx-background-color: firebrick;
    -fx-text-fill: white;
}
